.banner {
  background-image: url("../../images/banner1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.banner > h1 {
  margin: 5vmax;

  font: 600 2.5vmax "Roboto";
}

.banner > p {
  font: 300 1.4vmax "Lucida Sans";
  transition: all 0.5s;
  animation: scaleAnimation 1s infinite alternate;
}
.banner > p:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.1);
}

/* Keyframes for scale animation */
@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

.banner > a > button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 1vmax;
  transition: all 1s;
  width: 9vmax;
  font: 500 1vmax "Roboto";
}
.banner > a > button:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  animation: shaking 0.8s linear infinite;
}
@keyframes shaking {
  0% {
    rotate: 20deg;
  }
  25% {
    rotate: -20deg;
  }
  100% {
    transform: 20deg;
  }
}

.banner::after {
  content: "";
  width: 100vw;
  height: 100vmin;
  background: linear-gradient(90deg, rgb(0, 238, 255) 0%, #ffff00, #0077ff);
  position: absolute;
  top: 0%;
  left: 0;
  /* clip-path: polygon(0 0, 100% 0, 8% 8%, 0% 100%); */
  /* clip-path: polygon(100% 82%, 0% 100%, 100% 100%); */
  clip-path: polygon(
    0% 0%,
    0% 100%,
    0 99%,
    10% 8%,
    100% 0,
    93% 91%,
    0 100%,
    0 100%,
    100% 100%,
    100% 0%
  );
  max-width: 100%;
}

.homeHeading {
  text-align: center;

  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);

  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}

.container {
  display: flex;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.productCard {
  width: 14vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
}

.productCard > img {
  width: 14vmax;
}

.productCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productCardSpan {
  margin: 0.5vmax;
  font: 300 0.7vmax "Roboto";
}

.productCard > p {
  font-family: "Roboto";
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}

.productCard > span {
  margin: 0.5vmax;
  color: tomato;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1vmax;
}

.productCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

  transform: translateY(-1vmax);
}

@media screen and (max-width: 600px) {
  .productCard > p {
    font-size: 1.7vmax;
  }

  .productCard > div {
    margin: 0vmax;
    display: block;
  }

  .productCard > span {
    font-size: 1.5vmax;
  }

  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }
}
